In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Box/Data_Science/Departments.csv')

In [3]:
df

   2 Architect Group  30001  L0001
0  5  Software Group  30002  L0002
1  7     Design Team  30003  L0003
2  5  Software Group  30004  L0004